<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <div class="box" id = 'heading'>
    <h1> <%= day %> </h1>
  </div>

  <div class="box">

       <% for (var i=0; i< item.length; i++){ %>
         <div class="item">
           <input type="checkbox">
           <p> <%= item[i] %>  </p>
         </div>

    <%  } %>

    <form class="item" action="/" method="post">
      <input type="text" name="task" value="" autocomplete="off" placeholder="new iteam">
      <button type="submit" name="button" autocomplete= 'off'>+</button>

    </form>

  </div>




</body>

</html>
